<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getId()}"></title>
</head>
<body>
<div th:insert="~{fragments/navbar.html::navbar}"></div>

<div th:object="${person}">
    <h3 th:text="*{name}"></h3>
    <p th:text="'Год рождения: ' + *{yearOfBirth}"></p>
    <p th:text="'ИД: ' + *{id}"></p>
</div>


<form th:action="@{/people/{id}/edit(id=${person.getId()})}" th:method="GET">
    <button type="submit">Изменить</button>
</form>
<form th:action="@{/people/{id}(id=${person.getId()})}" th:method="DELETE">
    <button type="submit">Удалить</button>
</form>

<hr>
<h3>Выданные книги:</h3>

<div th:if="${!books.isEmpty()}">

    <p th:each="book : ${books}">
        <a
                th:href="@{/books/{id}(id=${book.getId()})}"
                th:text="${book.name}
                        + ', '
                        + ${book.authorName}
                        + ', '
                        + ${book.yearOfPublishing}">
        </a>
    </p>
</div>
<div th:if="${books.isEmpty()}">
    <p th:text="'Не взял ни одной книги.'"></p>
</div>
</body>
</html>