<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getId()}"></title>
</head>
<body>
<h1>Данные:</h1>
<div th:object="${person}">
    <p th:text="'ИД: ' + *{id}"></p>
    <p th:text="'ФИО: ' + *{name}"></p>
    <p th:text="'Год рождения: ' + *{yearOfBirth}"></p>
</div>
<hr>

<form th:action="@{/people/{id}(id=${person.getId()})}" th:method="DELETE">
    <button type="submit">Удалить</button>
</form>
<form th:action="@{/people/{id}/edit(id=${person.getId()})}" th:method="GET">
    <button type="submit">Изменить</button>
</form>
</body>
</html>